* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #1f1f24;
  color: white;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 40px 0 140px;
  text-align: center;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),url('../image/hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.logo {
  margin-bottom: 25px;
  max-width: 220px;
}

.hero-title {
  font-size: 48px;
  margin: 20px 0 10px;
}

.hero-subtitle {
  font-size: 20px;
  color: #ddd;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  background: #d2a45c;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.services {
  position: absolute;
  bottom: 19px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 12px;
  padding: 18px;

  border: 1px solid rgba(255,255,255,.1);
  border-radius: 10px;
  background: rgba(255,255,255,.05);
  backdrop-filter: blur(6px);
}

.icon-service {
  width: 42px;
  height: 42px;
  fill: #d2a45c;
  flex-shrink: 0;
}

.gallery,
.advantages,
.steps,
.contact {
  padding: 70px 0;
}

.gallery-grid,
.advantages-grid,
.steps-grid {
  display: grid;
  gap: 20px;
}

.gallery-grid {
  grid-template-columns: repeat(3, 1fr);
}

.advantages-grid,
.steps-grid {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  background: rgba(255,255,255,.03);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.1);
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

form input,
form select,
form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

form button {
  border: none;
  cursor: pointer;
}

.icon-card{
  fill: #d2a45c;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 15px;
}


/* MOBILE */

@media (max-width: 900px) {
  header {
    padding-bottom: 40px;
  }

  .services {
    position: static;
    transform: none;
    width: 100%;
    margin-top: 40px;
    grid-template-columns: 1fr;
  }

  .gallery-grid,
  .advantages-grid,
  .steps-grid,
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .hero-title {
    font-size: 32px;
  }

  .btn {
    width: auto;
  }
}